<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".dds" mimeType="application/dds" />
      <mimeMap fileExtension=".tga" mimeType="application/tga" />
      <mimeMap fileExtension=".fx" mimeType="application/fx" />
      <mimeMap fileExtension=".babylon" mimeType="application/babylon" />
      <mimeMap fileExtension=".babylonmeshdata" mimeType="application/babylonmeshdata" />
      <mimeMap fileExtension=".babylonbinarymeshdata" mimeType="application/babylonbinarymeshdata" />
      <mimeMap fileExtension=".cache" mimeType="text/cache-manifest" />
    </staticContent>
  </system.webServer>
</configuration>